tr td,
#nine-x-nine-board {
  width: 40;
  height: 40;
  font-size: 24;
  text-align: center;
  color: rgba(50, 50, 50, 0.7);
  background-color: "rgba(255,255,255,0)";
  overflow: hidden;
  outline: none;
  border: none;
  resize: none;
}
#ten-x-ten-board {
  width: 36;
  height: 36;
}
#cell {
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: "rgba(200,200,200,0)";
  opacity: 0.2;
  color: black;
  columns: 1;
}
#navbar tr td {
  cursor: pointer;
  width: 33%;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
table {
  margin-left: auto;
  margin-right: auto;
}
form {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}
form select,
input {
  font-size: 24;
  color: dimgray;
  appearance: none;
  background-color: "rgba(0,0,0,0)";
}
body {
  text-align: center;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
#prev {
  font-size: medium;
  opacity: 0.9;
  left: auto;
  margin-right: 1em;
}
#next {
  font-size: medium;
  opacity: 0.9;
  right: auto;
  margin-left: 1em;
}

#active {
  margin-bottom: auto;
  font-size: 32;
  color: dimgrey !important;
}
select {
  border: none;
  outline: none;
  text-align: right;
  margin-top: 0.5em;
  border-radius: 0;
  text-align-last: right;
  background-color: transparent;
  -webkit-appearance: none !important;
}
select option {
  text-align: center;
  opacity: 0;
  accent-color: white;
  background-color: transparent;
  -webkit-appearance: none !important;
}
#gen_button {
  background-color: #eee;
  outline: none;
  border: none;
  color: #555;
}
#diff-generate {
  align-content: center;
  align-self: center;
}
#instructions {
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.8;
  margin: auto;
}
#hidden {
  display: none;
}

@media print {
  tr td {
    width: 60;
    height: 60;
    text-align: center;
    color: rgba(50, 50, 50, 1);
    background-color: "rgba(255,255,255,0)";
    overflow: hidden;
    border: 1px solid black;
    resize: none;
  }
  #nine-x-nine-board {
    width: 60;
    height: 60;
  }
  #ten-x-ten-board {
    width: 58;
    height: 58;
  }
  table {
    width: 600;
  }
  #prev,
  #next,
  select,
  #gen_button,
  #diff-generate {
    display: none;
  }
  #instructions {
    margin-top: 1em;
    opacity: 1;
  }
}
