* {
  -webkit-tap-highlight-color: transparent;
  text-align: center;
  -webkit-touch-callout: text; /* iOS Safari */
  -webkit-user-select: text; /* Safari */
  -khtml-user-select: text; /* Konqueror HTML */
  -moz-user-select: text; /* Old versions of Firefox */
  -ms-user-select: text; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
tr td {
  width: 36;
  height: 36;
  color: rgba(50, 50, 50, 0.7);
  background-color: "rgba(255,255,255,0)";
}
#navbar tr td {
  font-size: x-large;
  width: 25%;
}
#prev,
#next {
  cursor: pointer;
}
#navbar tr {
  align-items: stretch;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
body {
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
}
#prev {
  opacity: 0.6;
  width: 25%;
}
#next {
  opacity: 0.6;
  width: 25%;
}

#active {
  width: 25%;
  color: dimgrey !important;
}
#instructions {
  width: 90%;
  font-size: medium;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  opacity: 0.8;
  margin: auto;
  align-self: center;
  text-align: center;
}
a {
  color: inherit;
}
.board {
  outline: none;
  border: none;
}
.cell {
  outline: none;
  border: none;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  background: rgba(100, 100, 100, 0.1);
  opacity: 0.8;
  color: black;
  columns: 1;
}
div {
  margin-left: auto;
  margin-right: auto;
  display: table;
  max-width: none;
  width: auto;
  min-width: 100%;
}
* {
  table-layout: fixed;
  margin-left: auto;
  margin-right: auto;
}
input {
  padding: 0;
}

form,
select,
select option,
option,
button,
#gen_button {
  color: black;
  margin-top: 1em;
  border: none;
  outline: none;
  border-radius: 0;
  text-align-last: center;
  background-color: transparent;
  -webkit-appearance: none !important;
}
#gen_button {
  padding: 0.2rem;
  border-radius: 0;
  border: 2px solid #aaa;
}
#game_table {
  margin-left: auto;
  margin-right: auto;
}
#navbar {
  margin-left: auto;
  margin-right: auto;
}

@media print {
  table {
    width: 600;
  }
  #prev,
  #next,
  select,
  #gen_button,
  #diff-generate {
    display: none;
  }
  #instructions {
    margin-top: 2em;
    opacity: 0.6;
  }
  #navbar,
  #navbar tr,
  #navbar tr td,
  #active {
    font-size: 32;
    opacity: 1;
    margin-bottom: 25px;
  }
}
